body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.robotofont {
  font-family: "Roboto", sans-serif;
}

.chonburifont {
  font-family: "Chonburi", cursive;
}

.mulifont {
  font-family: "Muli", sans-serif;
}

.nav-link:hover {
  color: #ffaf06 !important;
}
